{% extends 'base.html.twig' %}

{% block title %}Chimpokofood index{% endblock %}

{% block body %}
    <h1>Chimpokofood index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chimpokofood in chimpokofoods %}
            <tr>
                <td>{{ chimpokofood.id }}</td>
                <td>{{ chimpokofood.name }}</td>
                <td>{{ chimpokofood.amount }}</td>
                <td>{{ chimpokofood.status }}</td>
                <td>
                    <a href="{{ path('app_chimpokofood_show', {'id': chimpokofood.id}) }}">show</a>
                    <a href="{{ path('app_chimpokofood_edit', {'id': chimpokofood.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chimpokofood_new') }}">Create new</a>
{% endblock %}
